body {
    height: 100vh;
    margin: 0;
    padding: 0;
    /* background: #917B3A;
    background: -webkit-linear-gradient(bottom, #917B3A, #E08C09);
    background: -moz-linear-gradient(bottom, #917B3A, #E08C09); */
    background: linear-gradient(to top, #b3a372, #d99b37) no-repeat;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.responsive-container {
    display: none;
}

.desktop-container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 100vh;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.desktop-container h1 {
    margin: 0;
    padding: 0;
    width: 50%;
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    color: black;
}

.desktop-container h1 i {
    color: red;
}


@media (max-width: 550px) {

    .desktop-container {
        display: none;
    }

    .responsive-container {
        display: block;
    }
    
    header {
        text-align: left;
    }

    header h1 {
        display: inline-block;
        margin: 1rem 0rem 1rem 1.5rem;
        width: 50%;
    }

    main {
        box-sizing: border-box;
        border: 3px solid white;
        border-radius: 10px;
        margin: 0rem 1.5rem 0rem 1.5rem;
    }

    h2 {
        text-align: center;
    }

    .image-gallery-container {
        width: 100%;
        height: 50vh;
        overflow: auto;
    }

    .image-gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .image-gallery:last-child {
        margin-bottom: 20px;
    }

    /* .image-gallery:first-child {
        margin-top: 20px;
    } */

    img {
        box-sizing: border-box;
        width: 90%;
        height: auto;
        border: 3px solid white;
        border-radius: 9px;
    }

    footer {
        margin-top: 1rem;
        box-sizing: border-box;
        width: 100%;
        height: 6vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .fa-brands {
        font-size: 2rem;
    }

    .fa-youtube:hover {
        color: red;
    }

    .fa-instagram:hover {
        color: deeppink;
    }
}