body {
    height: 100vh;
    margin: 0;
    padding: 0;
    /* Created with https://www.css-gradient.com */
    background: #917B3A;
    background: -webkit-linear-gradient(bottom, #917B3A, #E08C09);
    background: -moz-linear-gradient(bottom, #917B3A, #E08C09);
    background: linear-gradient(to top, #917B3A, #E08C09) no-repeat;
    font-family: 'Poppins', sans-serif;
    color: white;
}

header h1 {
    padding: 0;
    display: inline-block;
    margin: 1rem 0rem 1rem 1rem;
}

header {
    text-align: left;
}

header h1 {
    margin: 1rem 0rem 1rem 1.5rem;
    width: 50%;
}

main {
    box-sizing: border-box;
    border: 4px solid white;
    border-radius: 10px;
    margin: 0rem 1.5rem 0rem 1.5rem;
}

h2 {
    text-align: center;
}

.image-gallery-container {
    width: 100%;
    height: 60vh;
    overflow: auto;
}

.image-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

img {
    box-sizing: border-box;
    width: 90%;
    height: auto;
    border: 3px solid white;
    border-radius: 10px;
}

@media (max-width: 1000px) {
    
    header {
        text-align: left;
    }

    header h1 {
        margin: 1rem 0rem 1rem 1.5rem;
        width: 50%;
    }

    main {
        box-sizing: border-box;
        border: 4px solid white;
        border-radius: 10px;
        margin: 0rem 1.5rem 0rem 1.5rem;
    }

    h2 {
        text-align: center;
    }

    .image-gallery-container {
        width: 100%;
        height: 60vh;
        overflow: auto;
    }

    .image-gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    img {
        box-sizing: border-box;
        width: 90%;
        height: auto;
        border: 3px solid white;
        border-radius: 10px;
    }
}